.btn,
.btn-lg,
input,
textarea,
input[type="text"],
input[type="tel"],
input[type="email"],
.idx_call2action,
.add-to-favorites,
.tools-panel,
.selectize-input {
    // add our drop shadow effect to all buttons and form elements
    @include box-shadow(-3px 3px 0 0 rgba(0, 0, 0, 0.18) !important);

    &:active,
    &:focus,
    &.focus {
        @include box-shadow(none !important);
    }
}

// rIDX tools panel fixes for child theme design
.tools-panel {
    // adjusts border radius for box-shadow above
    border-radius: $border-radius-base;

    // removes individual box-shadow from buttons in the .tools-panel
    .btn,
    .add-to-favorites {
        @include box-shadow(none !important);
    }

    .btn-primary {
        line-height: initial;
    }
}

// transition all our links
a {
    @include transition(all 0.35s ease-in-out);
}

// applies the pretty_hover mixin to all rIDX pod titles
a.listing-title {
    @include pretty_hover(none, $brand-fourth, ease 0.35s);

    h4 {
        font-weight: 600;
        @include pretty_hover(none, $brand-fourth, ease 0.35s);
    }
}

.tab-content,
.banner .top-header,
ul.nav.nav-tabs,
.navbar-default,
.hji-home-value-form.widget,
.quick-search-widget-wrapper {
    @include no_borders;
}

// sizes rIDX listings from 480px to 767px
.idx-results {
    @include mobile_landscape {
        width: 75%;
        margin: auto;
    }
}

// applies the tab_styling mixin to tabs
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    @include tab_styling;
}

// the search button on the rIDX serach widget
input.btn.btn-primary.idx_call2action {
    background-color: $brand-fourth;

    &:hover,
    &:active,
    &:focus {
        background-color: $brand-fourth-dark-20;
        border: 0 !important;
    }
}

// responsive styling for the rIDX search widget
.hji-fieldwrap-inner.hji-size-wrap,
.hji-fieldwrap-inner.hji-yearbuilt-wrap {
    display: inline-block;
    width: 50%;
}

.hji-fieldwrap-inner:last-of-type {
    padding: 0 0 0 2.5%;
}

.quick-search-widget-wrapper.horizontal .hji-action-buttons-wrap {
    @media (min-width: $screen-sm) {
        margin-top: initial;
    }
}

// changes advanced options toggle in the rIDX search widget color
a.adv-options-toggle {
    color: $white;
}
