// positions the content & adds a box shadow to the content that is not on the homepage
body:not(.home) #content {
    margin: 5rem auto;
    padding: 2rem;
    box-shadow: $black 1px 2px 20px;
    background-color: $white;

    // bootstrap tabs
    .nav-tabs > li {
        margin-right: .5rem;

        &:not(.active) > a {
            @include gradient-vertical($body-bg, change-color($body-bg, $body-bg, 5%));
            border: 1px solid $nav-tabs-border-color;
        }
    }

    // bootstrap tab content
    .tab-content {
        border: 1px solid $nav-tabs-border-color;
        border-top: 0;
        border-radius: 0 0 $border-radius-base $border-radius-base;
    }
}

// ridx details pages
#listing-details {
    margin: 0;
}

// geofarms featured image
.hji-areas-featured-image {
    text-align: center;
    margin: 1rem 0;
    padding: 1%;
}

// the icons in the blogo metadata
.entry-meta i {
    color: $brand-fourth;
}