#footer {
    padding: 3rem 0;
}

// a bottom margin for the footer widgets so they don't sit right on top of the copyright
.footer-widgets.row {
    margin-bottom: 2rem;
}

#footer .custom-agent-name {
    margin-top: 0;
    color: $white;
}

#footer {
    .gform_button {
        border: 0 !important;
        background-color: $brand-fourth;

        &:hover,
        &:active,
        &:focus {
            border: 0 !important;
            background-color: $brand-fourth-dark-20;
        }
    }
}

.well.custom-contact-widget {
    border: 0;
    background-color: transparent;
}

button.btn.btn-primary.custom-contact {
    border: 0;
    width: 100%;
    background-color: $brand-fourth;
    font-size: 2rem;
    letter-spacing: 10px;
    text-shadow: $brand-fourth-dark-20 2px 2px 4px;
    text-transform: uppercase;
}

.custom-footer-contact-wrapper a {
    color: $brand-fourth !important;

    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
    }
}

#idx-footer-compliance .compliance-asset {
    margin: 1rem;
}
