// puts a box shadow on the header
header.banner.navbar {
    box-shadow: $black 0px 5px 10px;
}

// makes the user bar 100% of the top-header
.top-header .user-signup-header {
    width: 100%;
}

a.hji-user-signup {
    color: $brand-fourth;
    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
    }
}

// gives a margin to the menu above the grid float breakpoint
div[id^="hji-theme-main-menu-widget"] {
    @media (min-width: $screen-lg) {
        margin-top: 7rem !important;
    }
}

// the mobile menu toggle
.navbar-default .navbar-toggle {
    @include no_borders;
    background-color: $brand-primary;
    .icon-bar {
        background-color: $white;
    }
    &:hover,
    &:focus,
    &:active {
        background-color: $brand-primary-light-20;
    }
}

// this block sets styles the dropdown items in the main menu
.blvd-responsive-menu .dropdown-menu > li > a {
    &:hover,
    &:active,
    &:focus {
        color: $white;
        background-color: $brand-primary;
    }
}