a.hji-user-signup {
    color: $brand-fourth;
    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
    }
}

div[id^="hji-theme-main-menu-widget"] {
    font-weight: 400;
    @media(min-width: $screen-lg) {
        margin-top: 7rem !important;
    }
}

// this block sets styles the dropdown items in the main menu
.blvd-responsive-menu .dropdown-menu > li > a {
    &:hover,
    &:active,
    &:focus {
        color: $white;
        background-color: $brand-primary;
    }
}

.navbar-default .navbar-toggle {
    border: 0;
    background-color: $brand-primary;
    .icon-bar {
        background-color: $white;
    }
    &:hover,
    &:focus,
    &:active {
        border: 0;
        background-color: $brand-primary-light-20;
    }
}

header.banner.navbar {
    box-shadow: $black 0px 5px 10px;
}
