.home .blvd-slideshow {
    top: inherit;
}

.home section#primary {
    margin-top: 1rem;
}

.widget-title h3 {
    font-size: 3rem;
    letter-spacing: 2px;
    text-align: center;
}

.fullwidth-quicksearch-wrapper {
    margin-top: 35rem;
    background-color: $brand-primary;
}
.home button.btn.btn-primary.search-now
.home button.btn.btn-primary.hv-submit {
      border: 0 !important;
      background-color: $brand-fourth;
      &:hover,
      &:active,
      &:focus {
          border: 0 !important;
          background-color: $brand-fourth-dark-20;
      }
}

/*
 * BEGIN $custom_widget_styles
 * These styles govern the custom home value/quicksearch widget on
 * the homepage.
*/

.homepage-custom-content-wrapper {
    margin: auto;
    padding: 2rem 0;
    .blvd-simplesearch-ridx {
        width: 100%;
    }
    @media(min-width: $screen-sm) {
      width: 75%;
    }
}

.custom-content-nav-tabs {
    margin: auto;
    width: 100%;
    @media(min-width: $screen-sm) {
        width: 50%;
    }
}

// styling for the list items
li.custom-content-items {
    margin: 0;
    padding: 0 10px;
    width: 50%;
    a {
        border: 2px solid $white;
        margin: 0 !important;
        background-color: transparent;
        color: $white;
        text-decoration: none;
        text-align: center;
        text-shadow: $black 2px 2px 4px;
        &:hover,
        &:active,
        &:focus {
            border: 2px solid $brand-fourth;
            background-color: $brand-fourth;
        }
    }
}

.homepage-custom-content-wrapper {
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
        border: 3px solid $brand-primary;
        background-color: $brand-fourth;
        color: $white;
        text-shadow: $brand-fourth-dark-20 4px 4px 8px;
    }
}

h2.homepage-widget-custom-title {
    color: $white;
    letter-spacing: 3px;
    text-align: center;
    text-shadow: $brand-primary-dark-20 2px 4px 16px;
}

.fullwidth-quicksearch-wrapper .quick-search-widget-wrapper {
    border-color: transparent;
    background-color: transparent;
}

/*
 * END $custom_widget_styles
*/

// Pushes the widget row down below the slideshow
.blvd-home-widgets.row {
    margin-top: 5rem;
}

.home .hji-areas-ribbon {
    display: none;
}

/*
 * BEGIN $cta-styles
 * these styles govern the CTAs on the homepage
*/

.custom-cta-wrapper {
    margin-top: 5rem;
}

.custom-cta-pod {
  text-align: center;
  @media (max-width: $screen-md) {
    margin-top: 5rem;
  }
}

a.custom-cta {
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

.custom-cta-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  border: 3px solid $brand-primary;
  height: 200px;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  &:hover,
  &:active {
    background-color: $brand-primary;
    -webkit-transform: scale(.95);
            transform: scale(.95);
    h3 {
        color: $white;
        text-shadow: darken( $brand-primary , 30% ) 5px 5px 10px;
    }
  }
}

h3.custom-cta {
  color: $brand-primary;
}

/*
 * END $cta-styles
 */
