// pins the slideshow to the bottom of the header
.home .blvd-slideshow {
    top: inherit;
}

// adds a slight padding on the social icons under the header
.home section#primary {
    margin-top: 1rem;
}

// styles for the widget titles
.widget-title h3 {
    font-size: 3rem;
    letter-spacing: 2px;
    text-align: center;
}

// styles for the fullwidth quicksearch area
.fullwidth-quicksearch-wrapper {
    margin-top: 35rem;
    background-color: $brand-primary;
}

.home button.btn.btn-primary.hv-submit,
.home button.btn.btn-primary.search-now {
    border-color: $brand-fourth;
    background-color: $brand-fourth;
    &:hover,
    &:active,
    &:focus {
        border-color: $brand-fourth-dark-20;
        background-color: $brand-fourth-dark-20;
    }
}

/*
 * BEGIN $custom_widget_styles
 * These styles govern the custom home value/quicksearch widget on
 * the homepage.
*/

.homepage-custom-content-wrapper {
    margin: auto;
    padding: 2rem 0;
    .blvd-simplesearch-ridx {
        width: 100%;
    }
    @media (min-width: $screen-sm) {
        width: 75%;
    }
}

.custom-content-nav-tabs {
    margin: auto;
    width: 100%;
    @media (min-width: $screen-sm) {
        width: 50%;
    }
}

// styling for the list items
li.custom-content-items {
    margin: 0;
    padding: 0 10px;
    width: 50%;
    // styling for the "buttons"
    a {
        border: 3px solid $white;
        margin: 0 !important;
        color: $white;
        font-size: 2rem;
        letter-spacing: 2px;
        text-decoration: none;
        text-align: center;
        text-shadow: $brand-primary-dark-20 2px 2px 4px;
        &:hover,
        &:active,
        &:focus {
            border: 3px solid $brand-fourth;
            background-color: $brand-fourth;
        }
    }
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: $brand-fourth !important;
    border-color: $brand-fourth !important;
    border: 3px solid;
}

h2.homepage-widget-custom-title {
    margin-top: 1rem;
    color: $white;
    letter-spacing: 3px;
    text-align: center;
    text-shadow: $brand-primary-dark-20 2px 4px 16px;
}

/*
 * END $custom_widget_styles
*/

// Pushes the widget row down below the slideshow
.blvd-home-widgets.row {
    margin-top: 5rem;
}

// hides the ribbon on the map widget, as it currently returns an empty string
.home .hji-areas-ribbon {
    display: none;
}

/*
 * BEGIN $cta-styles
 * these styles govern the CTAs on the homepage
*/

.custom-cta-wrapper {
    margin-top: 5rem;
    @include mobile_landscape {
        width: 75%;
        margin: auto;
    }
}

.custom-cta-pod {
    text-align: center;
    // gutter between rows
    @media (max-width: $screen-md) {
        margin-top: 5rem;
    }
}

a.custom-cta {
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
}

// flexbox!
.custom-cta-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    border: 3px solid $brand-primary;
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    &:hover,
    &:active {
        background-color: $brand-primary;
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        h3 {
            color: $white;
            text-shadow: darken($brand-primary, 30%) 5px 5px 10px;
        }
    }
}

h3.custom-cta {
    color: $brand-primary;
}

/*
 * END $cta-styles
 */