$brand-primary: #1A204C;
$brand-second: #fff;
$brand-third: #4d4d4d;

$brand-primary-light: lighten( $brand-primary, 20% ) !default;
$brand-primary-dark: darken( $brand-primary, 20% ) !default;

$brand-second-light: lighten( $brand-second, 20% ) !default;
$brand-second-dark: darken( $brand-second, 20% ) !default;

$brand-third-light: lighten( $brand-third, 20% ) !default;
$brand-third-dark: darken( $brand-third, 20% ) !default;

$brand-primary-light-20: lighten($brand-primary, 20%);
$brand-primary-dark-20: darken($brand-primary, 20%);

$brand-third-dark-20: darken($brand-third, 20%);

$brand-fourth: #3FA4D4;
$brand-fourth-dark-20: darken($brand-fourth, 20%);

$white: #fff;
$black: #000;
