$brand-primary: #1A204C;
$brand-second: #fff;
$brand-third: #4d4d4d;

$brand-primary-light-20: lighten($brand-primary, 20%);
$brand-primary-dark-20: darken($brand-primary, 20%);

$brand-fourth: #3FA4D4;
$brand-fourth-dark-20: darken($brand-fourth, 20%);

$white: #fff;
$black: #000;
